<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MybatisSample">
	<select id="SampleEmp" resultType="kr.co.ureca.mybatis.dto.EmpDto">
		select empno, ename, job, mgr, hiredate, sal, comm, deptno
		from emp
	</select>
</mapper>
